
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-500;
  @apply hover:text-cyan-300;
}

.wavy-top {
  background-color: rgba(184, 214, 65, 0.103);
  --mask:
    radial-gradient(43.38px at 50% calc(100% + 28.50px),#0000 calc(99% - 4px),#000 calc(101% - 4px) 99%,#0000 101%) calc(50% - 60px) calc(50% - 17px + .5px)/120px 34px repeat-x,
    radial-gradient(43.38px at 50% -28.5px,#0000 calc(99% - 4px),#000 calc(101% - 4px) 99%,#0000 101%) 50% calc(50% + 17px)/120px 34px repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
.wavy {
  background-color: rgba(130, 39, 91, 0.103);
  --mask:
    radial-gradient(41.38px at 50% 58.50px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(41.38px at 50% -28.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}